@model List<ICorsoLaurea>

@{
    ViewData["Title"] = "Lista Corsi";
}

<h1>Elenco Corsi di Laurea</h1>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>Codice</th>
            <th>Descrizione</th>
            <th>Numero esami nel piano di studi</th>
            <th>Dettaglio</th>
        </tr>
    </thead>
    <tbody>
        @foreach(ICorsoLaurea corso in Model)
        {
            <tr>
                <td>@corso.Codice</td>
                <td>@corso.Descrizione</td>
                <td>@corso.CodEsami.Count</td>
                <td>
                    <a asp-area="" asp-controller="Corso" asp-action="Detail" asp-route-id="@corso.Codice">
                        Dettaglio
                    </a>
                 </td>
            </tr>
        }
    </tbody>
</table>