@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in UniFelice ;)</h1>
    <img src="https://d1bvpoagx8hqbg.cloudfront.net/originals/esperienza-universita-pisa-italia-silvia-dd22120fbcdb1622942cfdf1c9ec867b.jpg"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
