@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in magna fermentum, interdum urna ut, suscipit odio. Aliquam tempus molestie aliquet. Donec quis lectus magna. Suspendisse placerat tristique convallis. Proin.</p>