html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: aliceblue;
}

img{
    width: 50%;
    border: 1px solid black;
}

.error {
    color: darkred;
    background-color: yellow;
}

/*table, tr, td, th{
    border: 3px dotted red;
}*/