@model string

@{
    ViewData["Title"] = "Nuovo voto registrato";
}

<h2>Nuova valutazione inserita nel libretto dello studente con matricola @Model!</h2>
<a asp-area="" asp-controller="Studente" asp-action="Dettaglio" asp-route-id="@Model">
    <input type="button" value="Vai alla pagina dello studente" />
</a>
<br />
<br />
<a asp-area="" asp-controller="Studente" asp-action="Register">
    <input type="button" value="Aggiungi una nuova valutazione" />
</a>
<br />
<br />
<a asp-area="" asp-controller="Studente" asp-action="Index">
    <input type="button" value="Vai alla lista degli studenti" />
</a>