@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Nuovo voto registrato";
}

<h1>Nuova valutazione inserita</h1>
<a asp-area="" asp-controller="Studente" asp-action="Index">
    <input type="button" value="Torna alla lista studenti" />
</a>
<br />
<br />
<a asp-area="" asp-controller="Studente" asp-action="Register">
    <input type="button" value="Aggiungi una nuova valutazione" />
</a>