@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<IStudente>

@{
    ViewData["Title"] = "Registrazione Voto";
}

<h1>Registrazione nuovo voto sul libretto: </h1>
<form method="post" asp-area="" asp-controller="Studente" asp-action="Check">
    <label for="txtMat">Matricola:</label>
    <input type="text" id="txtMat" name="Matricola" /> <br />
    <label for="numVoto">Valutazione:</label>
    <input type="number" id="numVoto" name="VotoValutazione" value="18" min="18" max="33"/> <br />
    <label for="txtAppello">Codice Appello:</label>
    <input type="text" id="txtAppello" name="CodAppello" /> <br />
    <input type="submit" value="Insresci valutazione"/>
</form>