@model string

@{
    ViewData["Title"] = "Sucess";
}

<h2>Studente con matricola @Model registrato con sucesso!</h2>
<a asp-area="" asp-controller="Studente" asp-action="Dettaglio" asp-route-id="@Model">
    <input type="button" value="Vai alla pagina del nuovo studente" />
</a>
<br />
<br />
<a asp-area="" asp-controller="Studente" asp-action="Index">
    <input type="button" value="Torna alla lista studenti" />
</a>
<br />
<br />
<a asp-area="" asp-controller="Studente" asp-action="Create">
    <input type="button" value="Aggiungi un nuovo studente" />
</a>